<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/design.css">
  <title>Document</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<body>
  <nav>
    <div class="logo">
      <img src="/images/Cubit_Print-logo.png" alt="logo" />
    </div>
    <ul style="align-items: c">
      <li>
        <a href="/index.html">Home</a>
      </li>
      <li>
        <a href="#">Work</a>
      </li>
      <li>
        <a href="/templates/about-us.html">About Us</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="/templates/contact-us.html">Contact Us</a>
      </li>
    </ul>
    <div class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </nav>
  <div class="menubar">
    <ul>
      <li>
        <a href="/index.html">Home</a>
      </li>
      <li>
        <a href="#">Work</a>
      </li>
      <li>
        <a href="/templates/about-us.html">About Us</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="/templates/contact-us.html">Contact Us</a>
      </li>
    </ul>
  </div>

  <script src="/javascript/script.js"></script>
  <div class="main">
  <div class="animate-on-scroll">
  <div class="random-gen">
    <div class="title" > Working:</div>
    <div class="summary">
      something something something
    </div>
    <div id="result" style="padding:20px;">
    </div>
    </div>
    </div>
    </div>
  <div class="footer">
    <footer>
      <div class="footer-content">
        <h3>Cubit Print</h3>
        Raj Template is a blog website where you will find great tutorials on web design and development. Here each
        tutorial is beautifully described step by step with the required source code.
        <div class="wrapper">
          <a href="#" class="icon facebook">
            <div class="tooltip">
              Facebook
            </div>
            <span><i class="fab fa-facebook-f"></i></span>
          </a>
          <a href="#" class="icon instagram">
            <div class="tooltip">
              Instagram
            </div>
            <span><i class="fab fa-instagram"></i></span>
          </a>
          <a href="#" class="icon whatsapp">
            <div class="tooltip">
              WhatsApp
            </div>
            <span><i class="fab fa-whatsapp"></i></span>
          </a>
        </div>
        <div class="footer-bottom">
          copyright &copy; <a href="/index.html" style="color: red;">Cubit Print</a>
          <div class="footer-menu">
            <ul class="f-menu">
              <li><a href="/index.html">Home</a></li>
              <li><a href="/templates/work-show.html">Work</a></li>
              <li><a href="/templates/about-us.html">About Us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="/templates/contact-us.html">Contact Us</a></li>
            </ul>
          </div>
        </div>

    </footer>
</body>

</html>