<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/design.css">
  <title>Document</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<body>
  <nav>
    <div class="logo">
      <img src="#" alt="logo" />
      <h1>LOGO</h1>
    </div>
    <ul style="align-items: c">
      <li>
        <a href="./index.html">Home</a>
      </li>
      <li>
        <a href="#">Work</a>
      </li>
      <li>
        <a href="#">AboutUs</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="/templates/contact-us.html">Contact Us</a>
      </li>
    </ul>
    <div class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </nav>
  <div class="menubar">
    <ul>
      <li>
        <a href="./index.html">Home</a>
      </li>
      <li>
        <a href="#">Work</a>
      </li>
      <li>
        <a href="#">AboutUs</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="/templates/contact-us.html">Contact Us</a>
      </li>
    </ul>
  </div>

  <script src="/javascript/script.js"></script>
  
  <div class="random-gen">
    <div class="title" style="margin: 200px; "><h1> Working:</h1></div>
    <div id="result" style="padding:30px;">
    </div>
    </div>
  <div class="footer">
    <footer>
      <div class="footer-content">
        <h3>Foolish Developer</h3>
        Raj Template is a blog website where you will find great tutorials on web design and development. Here each
        tutorial is beautifully described step by step with the required source code.
        <div class="wrapper">
          <a href="#" class="icon facebook">
            <div class="tooltip">
              Facebook
            </div>
            <span><i class="fab fa-facebook-f"></i></span>
          </a>
          <a href="#" class="icon twitter">
            <div class="tooltip">
              Twitter
            </div>
            <span><i class="fab fa-twitter"></i></span>
          </a>
          <a href="#" class="icon instagram">
            <div class="tooltip">
              Instagram
            </div>
            <span><i class="fab fa-instagram"></i></span>
          </a>
          <div class="icon github">
            <div class="tooltip">
              Github
            </div>
            <span><i class="fab fa-github"></i></span>
          </div>
          <a href="#" class="icon whatsapp">
            <div class="tooltip">
              WhatsApp
            </div>
            <span><i class="fab fa-whatsapp"></i></span>
          </a>
        </div>
        <div class="footer-bottom">
          copyright &copy; <a href="#" style="color: red;">Foolish Developer</a>
          <div class="footer-menu">
            <ul class="f-menu">
              <li><a href="">Home</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">Work</a></li>
              <li><a href="">AboutUs</a></li>
              <li><a href="./templates/contact-us.html">Contact Us</a></li>
            </ul>
          </div>
        </div>

    </footer>
</body>


</html>


